<div class="admin-panel">
    <h1 *ngIf="!modoEditar">Crear Equipo</h1>
    <h1 *ngIf="modoEditar">Editar Equipo: {{equipo.nombre}}</h1>
    
    <input type="text" [(ngModel)]="equipo.nombre" placeholder="Nombre">
    <input type="text" [(ngModel)]="equipo.pais_representado" placeholder="País representado">
    <input type="text" [(ngModel)]="equipo.club" placeholder="Club">
    <input type="text" [(ngModel)]="equipo.entrenador" placeholder="Entrenador">

    <button *ngIf="!modoEditar" (click)="sendEquipo()" routerLink="/equipos/list">Crear Equipo</button>
    <button *ngIf="modoEditar" (click)="updateEquipo()" routerLink="/equipos/list">Modificar Equipo</button>

</div>