<div class="admin-panel">
    <h1 *ngIf="!modoEditar">Agregar un Equipo</h1>
    <h1 *ngIf="modoEditar">Editar Equipo: {{nombre}}</h1>
    
    <input type="text" [(ngModel)]="nombre" placeholder="Nombre">
    <input type="text" [(ngModel)]="pais_representado" placeholder="País representado">
    <input type="text" [(ngModel)]="club" placeholder="Club">
    <input type="text" [(ngModel)]="entrenador" placeholder="Entrenador">

    <button *ngIf="!modoEditar" (click)="sendEquipo()" routerLink="/equipos/list">Crear Equipo</button>
    <button *ngIf="modoEditar" (click)="updateEquipo()" routerLink="/equipos/list">Modificar Equipo</button>

</div>