<div class="outer_container">

    <div class="big_container">
      <div class="top_bar">
        <div class="notice">Encuentre Equipos
          <div class="sub-text" *ngIf="loading">CARGANDO DATOS, POR FAVOR ESPERE! </div>
        </div>
      </div>
      <div class="transparent_bg">
        <div class="container">
          <div class="pane">
            <div class="headers">
              <div class="nombre cell">           Nombre            </div>
              <div class="paisRepresentado cell"> Pais representado </div>
              <div class="club cell">             Club              </div>
              <div class="entrenador cell">       Entrenador        </div>
              <div class="acciones cell">         Acciones          </div>
            </div>
  
            <div *ngIf="equiposNoEncontrados">
              -- No se encontraron resultados de: Equipos --
            </div>
  
            <div *ngFor="let equipo of equipos" class="results">
              <div class="nombre cell">            {{equipo.nombre}}            </div>
              <div class="paisRepresentado cell">  {{equipo.paisRepresentado}}  </div>
              <div class="club cell">              {{equipo.club}}              </div>
              <div class="entrenador cell">        {{equipo.entrenador}}        </div>
              <div class="acciones cell">
                  <button title="Eliminar"  class="delete_button" (click)="delete(equipo)">                              </button>
                  <button title="Modificar" class="modify_button" routerLink="/equipos/editar/{{equipo.equipoid}}">      </button>
                  <!-- <button title="Asociar"   class="associate_button" (click)="asociar(equipo)">                            </button>
                  <button title="Profesor"  class="add_profesor_button" routerLink="/profesores/nuevo/{{equipo.equipoid}}">                         </button> -->
                  <!-- <button title="Telefonos" routerLink="/telefonos/nuevo/{{equipo.equipoid}}" class="add_telefono_button"></button> -->
             </div>
            </div>
            
            <div class="headers">
              <div class="nombre cell">-</div>
              <div class="paisRepresentado cell">-</div>
              <div class="club cell">-</div>
              <div class="entrenador cell">-</div>
              <div class="acciones cell">
                <button title="Agregar" routerLink="/equipos/nuevo" class="add_button"></button>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>