<div class="admin-panel">
    <h1 *ngIf="!modoEditar">Agregar un Torneo</h1>
    <h1 *ngIf="modoEditar">Editar Torneo: {{nombre}}</h1>
    <input type="text" [(ngModel)]="nombre" placeholder="Nombre">
    <input type="text" [(ngModel)]="lugar" placeholder="Lugar">
    <input type="text" [(ngModel)]="fechaInicio" placeholder="FechaInicio">
    <input type="text" [(ngModel)]="fechaFin" placeholder="Fecha Fin">
    <input type="text" [(ngModel)]="jugadoresPorEquipo" placeholder="Jugadores por equipo">
    <input type="text" [(ngModel)]="observaciones" placeholder="Observaciones">asdsa

    <button *ngIf="!modoEditar" (click)="sendTorneo()" routerLink="/torneos/list">Crear Torneo</button>
    <button *ngIf="modoEditar" (click)="updateTorneo()" routerLink="/torneos/list">Modificar Torneo</button>

</div>