<div class="admin-panel" *ngIf="!loading || (!modoEditar && !modoVer)">
    <h1 *ngIf="!modoEditar && !modoVer">Crear Torneo</h1>
    <h1 *ngIf="modoEditar  && !modoVer">Editar Torneo: {{nombre}}</h1>
    <h1 *ngIf="modoVer">Viendo el Torneo: {{torneo.nombre}}</h1>
    
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.nombre" placeholder="Nombre">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.lugar" placeholder="Lugar">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.fecha_inicio" placeholder="FechaInicio">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.fecha_fin" placeholder="Fecha Fin">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.cantidad_equipos" placeholder="Cantidad de equipos">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.jugadores_por_equipo" placeholder="Jugadores por equipo">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.observaciones" placeholder="Observaciones">
    <div *ngIf="modoVer || modoEditar">
      <input type="text" class="nueva_etapa" [disabled]="modoVer" [(ngModel)]="nombre_etapa" placeholder="Etapa">
      <button class="etapa_button" (click)="crearEtapa()" *ngIf="torneo.etapas == ''"> Nueva </button>
      <button class="etapa_button" (click)="crearSiguienteEtapa()" [disabled]="modoVer" *ngIf="botonSiguienteEtapa()"> Siguiente </button>
    </div>
    
    <button *ngIf="!modoEditar && !modoVer" (click)="sendTorneo()" routerLink="/torneos/list">Crear Torneo</button>
    <button *ngIf="modoEditar && !modoVer" (click)="updateTorneo()" routerLink="/torneos/list">Modificar Torneo</button>

    <div *ngIf="torneo.etapas != '' ">
        <div class="outer_container">

            <div class="big_container">
              <div class="top_bar">
                <div class="etapas" *ngIf="modoEditar || modoVer">
                  <select [(ngModel)]="etapaSeleccionada">
                    <option [ngValue]="etapa" *ngFor="let etapa of torneo.etapas">{{etapa.nombre}}</option>
                  </select>
                </div>
              </div>
              <div class="transparent_bg" *ngIf="etapaSeleccionada != undefined">
                <div class="container">
                  <div class="pane">
                    <div class="headers">
                      <div class="orden cell">   Partido  </div>
                      <div class="estado cell">   Estado   </div>
                      <div class="acciones cell"> Acciones </div>
                    </div>
          
                    <div *ngFor="let partido of etapaSeleccionada.partidos" class="results">
                      <div class="orden cell"> {{partido.orden_partido}} </div>
                      <div class="estado cell"> {{partido.estado}}        </div>
                      <div class="acciones cell">
                          <button title="Eliminar"  class="delete_button" (click)="delete(torneo)">                              </button>
                          <button title="Modificar" class="modify_button" routerLink="/partidos/editar/{{partido.partido_id}}/{{etapaSeleccionada.etapa_id}}">  </button>
                          <!-- <button title="Ver" class="ver_button" routerLink="/torneos/ver/{{torneo.torneo_id}}">      </button> -->
                     </div>
                    </div>
                    
                    <div class="headers">
                      <div class="orden cell">-</div>
                      <div class="estado cell">-</div>
                      <div class="acciones cell">
                        <!-- <button title="Agregar" routerLink="/partidos/nuevo/{{etapaSeleccionada.etapa_id}}" class="add_button"></button> -->
                        <button title="Agregar" *ngIf="etapaSeleccionada.partidos.length < (torneo.cantidad_equipos/2)" (click)="crearPartido()" class="add_button"></button>
                      </div>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
            
          </div>
    </div>

</div>
