<div class="admin-panel" *ngIf="!loading || (!modoEditar && !modoVer)">
    <h1 *ngIf="!modoEditar && !modoVer">Crear Torneo</h1>
    <h1 *ngIf="modoEditar  && !modoVer">Editar Torneo: {{nombre}}</h1>
    <h1 *ngIf="modoVer">Viendo el Torneo: {{torneo.nombre}}</h1>
    
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.nombre" placeholder="Nombre">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.lugar" placeholder="Lugar">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.fecha_inicio" placeholder="FechaInicio">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.fecha_fin" placeholder="Fecha Fin">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.cantidad_equipos" placeholder="Cantidad de equipos">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.jugadores_por_equipo" placeholder="Jugadores por equipo">
    <input type="text" [disabled]="modoVer" [(ngModel)]="torneo.observaciones" placeholder="Observaciones">
    <div *ngIf="modoVer || modoEditar">
      <input type="text" class="nueva_etapa" [disabled]="modoVer" [(ngModel)]="nombre_etapa" placeholder="Etapa">
      <button class="etapa_button" (click)="crearEtapa()" *ngIf="torneo.etapas == ''"> Nueva </button>
      <button class="etapa_button" (click)="crearSiguienteEtapa()" [disabled]="modoVer" *ngIf="botonSiguienteEtapa()"> Siguiente </button>
    </div>
    
    <button *ngIf="!modoEditar && !modoVer" (click)="sendTorneo()" routerLink="/torneos/list">Crear Torneo</button>
    <button *ngIf="modoEditar && !modoVer" (click)="updateTorneo()" routerLink="/torneos/list">Modificar Torneo</button>

    <div *ngIf="torneo.etapas != '' ">
        <div class="outer_container">

            <div class="big_container">
              <div class="top_bar">
                <div class="etapas" *ngIf="modoEditar || modoVer">
                  <select [(ngModel)]="indiceSeleccionado">
                    <option [ngValue]="i" *ngFor="let etapa of torneo.etapas; index as i">{{etapa.nombre}}</option>
                  </select>
                  <button class="etapa_button" (click)="finalizarEtapa()"> Finalizar </button>
                  <button title="Ver mas/menos detalles de partidos" [disabled]="!validar_ver_mas" class="etapa_button" (click)="verMas()"> Ver </button>
                </div>
              </div>
              <div class="transparent_bg" *ngIf="indiceSeleccionado != -1">
                <div class="container">
                  <div class="pane">
                    <div class="headers">
                      <div class="orden cell">   Partido  </div>
                      <div class="estado cell">   Estado   </div>
                      <div class="equipos cell" *ngIf="ver_mas">   Equipo1 vs Equipo2   </div>
                      <div class="fecha cell" *ngIf="ver_mas">   Fecha   </div>
                      <div class="acciones cell"> Acciones </div>
                    </div>
                    <div *ngFor="let partido of torneo.etapas[indiceSeleccionado].partidos" class="results">
                      <div class="orden cell"> {{partido.orden_partido}} </div>
                      <div class="estado cell"> {{partido.estado}}        </div>
                      <div class="equipos cell" *ngIf="ver_mas"> {{partido.equipo1.nombre}}({{partido.puntos_equipo1}}) vs {{partido.equipo2.nombre}}({{partido.puntos_equipo2}})</div>
                      <div class="fecha cell" *ngIf="ver_mas"> {{partido.fecha_hora}}</div>
                      <div class="acciones cell">
                          <button title="Eliminar"  class="delete_button" (click)="borrarPartido(partido)"></button>
                          <button title="Modificar" class="modify_button" routerLink="/partidos/editar/{{partido.partido_id}}/{{torneo.etapas[indiceSeleccionado].etapa_id}}">  </button>
                     </div>
                    </div>
                    
                    <div class="headers">
                      <div class="orden cell">-</div>
                      <div class="estado cell">-</div>
                      <div class="equipos cell" *ngIf="ver_mas">-</div>
                      <div class="fecha cell" *ngIf="ver_mas">-</div>
                      <div class="acciones cell">
                        <button title="Agregar" *ngIf="verificarCantidadDePartidosDeEtapa()" (click)="crearPartido()" class="add_button"></button>
                      </div>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
            
          </div>
    </div>

</div>
