<div class="outer_container">

    <div class="big_container">
      <div class="top_bar">
        <div class="notice">Partidos
          <div class="sub-text" *ngIf="loading">CARGANDO DATOS, POR FAVOR ESPERE! </div>
        </div>
      </div>
      <div class="transparent_bg">
        <div class="container">
          <div class="pane">
            <div class="headers">
              <div class="partido_id cell">   ID  </div>
              <div class="fecha_hora cell">   Fecha  </div>
              <div class="orden_partido cell">Orden  </div>
              <div class="estado cell">       Estado </div>
              <div class="acciones cell">         Acciones          </div>
            </div>
  
            <div *ngIf="partidosNoEncontrados">
              -- No se encontraron resultados de: Partidos --
            </div>
  
            <div *ngFor="let partido of partidos" class="results">
              <div class="partido_id cell">     {{partido.partido_id}}     </div>
              <div class="fecha_hora cell">     {{partido.fecha_hora}}     </div>
              <div class="orden_partido cell">  {{partido.orden_partido}}  </div>
              <div class="estado cell">         {{partido.estado}}         </div>
              <div class="acciones cell">
                  <button title="Eliminar"  class="delete_button" (click)="delete(partido)">                              </button>
                  <button title="Modificar" class="modify_button" routerLink="/partidos/editar/{{partido.partido_id}}">     </button>
             </div>
            </div>
            
            <div class="headers">
              <div class="partido_id cell">-</div>
              <div class="nombre cell">-</div>
              <div class="pais_representado cell">-</div>
              <div class="club cell">-</div>
              <div class="acciones cell">
                <button title="Agregar" routerLink="/partidos/nuevo" class="add_button"></button>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>