<div class="outer_container">

    <div class="big_container">
      <div class="top_bar">
        <div class="notice">Encuentre Torneos
          <div class="sub-text" *ngIf="loading">CARGANDO DATOS, POR FAVOR ESPERE! </div>
        </div>
      </div>
      <div class="transparent_bg">
        <div class="container">
          <div class="pane">
            <div class="headers">
              <div class="nombre cell">             Nombre               </div>
              <div class="lugar cell">              Lugar                </div>
              <div class="fecha_inicio cell">        Fecha de inicio      </div>
              <div class="fecha_fin cell">           Fecha de fin         </div>
              <div class="acciones cell">           Acciones             </div>
            </div>
  
            <div *ngIf="torneosNoEncontrados">
              -- No se encontraron resultados de: Torneos --
            </div>
  
            <div *ngFor="let torneo of torneos" class="results">
              <div class="nombre cell">             {{torneo.nombre}}             </div>
              <div class="lugar cell">              {{torneo.lugar}}              </div>
              <div class="fecha_inicio cell">        {{torneo.fecha_inicio}}        </div>
              <div class="fecha_fin cell">           {{torneo.fecha_fin}}           </div>
              <div class="acciones cell">
                  <button title="Eliminar"  class="delete_button" (click)="delete(torneo)">                              </button>
                  <button title="Modificar" class="modify_button" routerLink="/torneos/editar/{{torneo.torneo_id}}">      </button>
                  <button title="Ver" class="ver_button" routerLink="/torneos/ver/{{torneo.torneo_id}}">      </button>
             </div>
            </div>
            
            <div class="headers">
              <div class="nombre cell">-</div>
              <div class="lugar cell">-</div>
              <div class="fecha_inicio cell">-</div>
              <div class="fecha_fin cell">-</div>
              <div class="acciones cell">
                <button title="Agregar" routerLink="/torneos/nuevo" class="add_button"></button>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </div>